## Load the library

In [ ]:
import yfinance as yf
import pandas as pd
from datetime import datetime

In [ ]:
stock = 'BBCA.JK'

today = datetime.today()    # Tanggal hari ini
start = datetime(2023,1,1)  # Tanggal mulai data

# Menggunakan .download method utk lakukan penarikan data
price = yf.download(stock, start, today)

[*********************100%***********************]  1 of 1 completed

In [ ]:
price

              Open    High     Low   Close    Adj Close     Volume
Date
2023-01-02  8575.0  8600.0  8500.0  8550.0  8382.450195   10653900
2023-01-03  8550.0  8600.0  8525.0  8550.0  8382.450195   27399100
2023-01-04  8525.0  8575.0  8350.0  8350.0  8186.369141   90918800
2023-01-05  8350.0  8375.0  8150.0  8250.0  8088.328613  128838500
2023-01-06  8100.0  8325.0  8100.0  8300.0  8137.349121   69286600
...            ...     ...     ...     ...          ...        ...
2023-06-21  9050.0  9125.0  9000.0  9125.0  9125.000000   42676300
2023-06-22  9125.0  9150.0  9050.0  9050.0  9050.000000   48291100
2023-06-23  9025.0  9150.0  9025.0  9050.0  9050.000000   47813500
2023-06-26  9025.0  9125.0  9025.0  9075.0  9075.000000   36389900
2023-06-27  9050.0  9150.0  9050.0  9150.0  9150.000000   36225100

[114 rows x 6 columns]

In [ ]:
price.to_csv('bbca.csv', index = True)

In [ ]:
price.reset_index(drop = False)

          Date    Open    High     Low   Close    Adj Close     Volume
0   2023-01-02  8575.0  8600.0  8500.0  8550.0  8382.450195   10653900
1   2023-01-03  8550.0  8600.0  8525.0  8550.0  8382.450195   27399100
2   2023-01-04  8525.0  8575.0  8350.0  8350.0  8186.369141   90918800
3   2023-01-05  8350.0  8375.0  8150.0  8250.0  8088.328613  128838500
4   2023-01-06  8100.0  8325.0  8100.0  8300.0  8137.349121   69286600
..         ...     ...     ...     ...     ...          ...        ...
109 2023-06-21  9050.0  9125.0  9000.0  9125.0  9125.000000   42676300
110 2023-06-22  9125.0  9150.0  9050.0  9050.0  9050.000000   48291100
111 2023-06-23  9025.0  9150.0  9025.0  9050.0  9050.000000   47813500
112 2023-06-26  9025.0  9125.0  9025.0  9075.0  9075.000000   36389900
113 2023-06-27  9050.0  9150.0  9050.0  9150.0  9150.000000   36225100

[114 rows x 7 columns]

In [ ]:
stocks = ['FILM.JK', 'GOTO.JK', 'PTBA.JK', 'INDY.JK', 'BUKA.JK']

In [ ]:
for stock in stocks:
    price = yf.download(stock, start, today)
    price.to_csv(f'{stock}.csv', index = True)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed